
# Exclude Node.js dependencies for the API
api/node_modules/

# Exclude custom Git configurations
.gitmessage

# Exclude database volumes
api/db/data

# Exclude environment variable files
.env*
api/.env*

# Exclude API build files
api/dist

# Exclude database migration files
api/migrations

# Exclude logs and audit files
.logs
