
# Exclude Node.js dependencies for the API
api/node_modules/
client/node_modules/

# Exclude custom Git configurations
.gitmessage

# Exclude database volumes
api/db/data

# Exclude environment variable files
./env*

# Exclude API build files
api/dist

# Exclude database migration files
# api/migrations
# api/prisma/migrations

# Exclude logs and audit files
.logs

# Useful script in DEV MODE
api/scripts

# Backend tests
api/tests/