# Node.js dependencies for the API
node_modules/

# Database volumes
db/data

# Environment variable files
**/.env.development
**/.env.production

# API build files
dist

# Database migration files
migrations
prisma/migrations

# Logs and audit files
.logs

# Development scripts
scripts/

# Editor-specific files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Seed files
prisma/devSeed.ts
prisma/prodSeed.ts

# npm configuration
.npmrc
